<nav class="bg-blue-50">
  <a href="{{ route('home') }}">Home</a>
  <a href="{{ route('movies.show', {slug: 'my-awesome-movie'}) }}">My Awesome Movie</a>
  <a href="{{ route('movies.show', {slug: 'avatar'}) }}">Avatar</a>
  <a href="{{ route('movies.show', {slug: 'truman-show'}) }}">The Truman Show</a>
</nav>
