<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title || 'Adonis JS basics' }}
    </title>

    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    @vite(['resources/js/app.js', 'resources/css/app.css'])
  </head>
  <body>
    <div class="max-3-xl mx-auto">
      @include('partials/nav')
    </div>

    {{{ await $slots.main() }}}
  </body>
</html>
