<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Movies page
    </title>
    @vite(['resources/js/app.js', 'resources/css/app.css'])
  </head>
  <body>
    <nav class="bg-blue-50">
      <a href="{{ route('home') }}">Home</a>
      <a href="{{ route('movies.show', {slug: 'my-awesome-movie'}) }}">My Awesome Movie</a>
      <a href="{{ route('movies.show', {slug: 'avatar'}) }}">Avatar</a>
    </nav>
    <section>
      <h1>
        {{ md.frontmatter.title }}
      </h1>
      {{{ movie }}}
      <!--you can call inspect() method to inspect movie-->
    </section>
  </body>
</html>
