@layout({ title: movie.title })
  @slot('meta')
    <meta name="description" content="{{ movie.summary }}" />
  @endslot
  
  <section>
    <h1>
      {{ movie.title }}
    </h1>

    @if (movie.abstract)
      <div class="my-8 py-8 px-4 bg-slate-100 rounded-xl ">
        {{{ movie.abstract }}}
      </div>
    @else
      <p>
        No abstract
      </p>
    @endif
    <!--you can call inspect() method to inspect movie-->
  </section>
@end

