<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Adonis JS basics - First Proper Start
    </title>
    @vite(['resources/js/app.js', 'resources/css/app.css'])
  </head>
  <body>
    <nav class="bg-blue-50">
      <a href="{{ route('home') }}">Home</a>
      <a href="{{ route('movies.show', {slug: 'my-awesome-movie'}) }}">My Awesome Movie</a>
      <a href="{{ route('movies.show', {slug: 'avatar'}) }}">Avatar</a>
    </nav>
    <section>
      <h1>
        Works fine and dandy!
      </h1>
    </section>
    <ul>
      @each (movie in movies)
        <li>
          <a href="{{ route('movies.show', {slug: movie.slug}) }}">
            {{ movie.title }}
          </a>
        </li>
      @endeach
    </ul>
  </body>
</html>
